PSI Theory Scartch.ipynb
Basic_Scratch.ipynb
.ipynb_checkpoints
1d\ scratch.ipynb
Collocation_Scratch_2.ipynb
Initial\ Sundials Test.ipynb
Linear\ Matrix\ Scratch.ipynb
Psi\ Theory\ Sundials\ Scratch.ipynb
Untitled1.ipynb
basic.png
collocation_scratch_1.ipynb
point_numbering.png
psi.png
tex
*Scratch*
*scratch*
line.png
numeric_jacobian.m
