loop.py
loop_nonlinear.py
matrix_free_fall.py
velocity.py
.ipynb_checkpoints/
Firstorder Matrix Demo.ipynb
Free Fall.ipynb
IMG_20200201_181538.jpg
Matrix Free Fall Nonlinear.ipynb
Second Order matrix Demo.ipynb
equations.aux
equations.log
equations.pdf
equations.tex
nonlinear_matrix.m
python_out.mtx
test.py

